@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/normalize.less";
@import "../bower_components/bootstrap/less/type.less";
@import "../bower_components/bootstrap/less/code.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "variables";
@import "mixins";
@import "keyframes";
@import "highlight";

.pull-left {float: left;}
.pull-right {float: right;}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

@color: #333;
@green: #669933;

a {
	color: @color;
	text-decoration: none;
	&:visited {
		color: lighten(@color, 15%);
		&.green {
			color: lighten(@green, 15%);
		}
	}
	&:hover,
	&:active {
		color: lighten(@color, 25%);
		&.green {
			color: lighten(@green, 25%);
		}
	}
}

body {
	color: @color;
	font: 100% Georgia,Times,serif;
	height: 80%;
	margin: 0;
	padding-top: 5%;
	position: relative;
	width: 100%;
}

.green {
	color: #669933;
	font-size:1.18em;
	font-style: normal;
	text-transform: lowercase;
}

.container,
section,
section.status ul,
section.contacts .contact {
	.clearfix();
	box-sizing: border-box;
	overflow: hidden;
}

section.contacts {
	.animate(1s, slide-right);
	float: left;
	margin-top: 15px;
	padding: 0 5% 0 0;
	text-align: right;
	width: 20%;
	ul {
		position: relative;
		li {
			.animate(2s, slide-down);
			clear: both;
			display: block;
			float: none;
			position: relative;
			a.green {
				font-size: 1.25em;
				line-height: 1.75em;
			}
			.label {
				color: @color;
				display: block;
				float: right;
				font-size: 1.25em;
				line-height: 1.5em;
				margin: 0 0.25em;
				opacity: 0.5;
				text-align: center;
				width: 1em;
			}
		}
	}
}

section.status {
	.animate(1s, slide-left);
	float: right;
	padding: 0 0 5% 5%;
	text-align: left;
	width: 80%;
	.tagline {
		border-left:1px solid #D8D8D8;
		clear:left;
		font-size:1.35em;
		font-style:italic;
		margin:0 0 10px 0;
		padding:15px 0 0 10px;
		text-align:left;
		text-transform: lowercase;
		ul {
			position: relative;
			li {
				.animate(2s, slide-down);
				display: block;
				float: none;
				&.repo {
					font-size: 0.6em;
				}
			}
		}
	}
}

article {
	footer {
		.clearfix();
		border-top: 1px dotted @color;
		font-size: 0.75em;
		margin-right: 25%;
		margin-top: 2.5em;
		text-transform: lowercase;
	}
}

@media (max-width: 767px) {
	section.status {
		.animate(0.5s, slide-right);
		float: left;
		font-size: 1.5em;
	}
	section.contacts {
		.animate(0.5s, slide-left);
		float: right;
		font-size: 2em;
	}
	article {
		footer {
			margin-right: 0;
			.author {
				.pull-right();
			}
		}
	}
}
@media (min-width: 768px) {
	section.status {
		padding-right: 5em;
	}
}
