---
layout: default
---

			<section class="status">
				<div class="tagline projects">
					<span class="green">My project calendar is</span>
					<br>
					<ul class="list-unstyled">
						<li>
							full
						</li>
					</ul>
				</div>
				<div class="tagline repos">
					<span class="green">My Repos</span>
					<br>
					<ul class="list-unstyled"></ul>
				</div>
				<div class="tagline articles">
					<span class="green">My Posts</span>
					<br>
					<ul class="list-unstyled">
						{% for post in paginator.posts %}
							<li class="repo">
								<time datetime="{{ post.date|date:"%F" }}">{{ post.date|date:"%b %d, %Y" }}</time> <a class="green" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
							</li>
						{% endfor %}
						{% if paginator.total_posts > paginator.per_page %}
							<li class="repo">
								<br>
								<a class="green" href="{{ site.baseurl }}/archive">more</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</section>
			<script type="text/javascript">
				$(document).ready(function() {
					'use strict';
					$.get('https://api.github.com/users/amsross/repos')
						.done(function(repos) {
							_.each(repos, function(repo) {
								$('.repos ul').append(JST['_assets/templates/repo.ejs'](repo));
							});
						});
				});
			</script>
