
			<section class="contacts">
				<ul class="list-unstyled">
					<li class="contact">
						<a href="{{ site.baseurl }}/" title="home">
							<span class="label"><i class="fa fa-home"></i></span>
						</a>
					</li>
					<li class="contact">
						<a href="{{ site.baseurl }}/archive" title="archive">
							<span class="label"><i class="fa fa-archive"></i></span>
						</a>
					</li>
					<li class="contact">
						<a href="{{ site.baseurl }}/contact" title="contact">
							<span class="label"><i class="fa fa-envelope"></i></span>
						</a>
					</li>
					<!--
					<li class="contact">
						<a href="&#x6d;&#x61;&#x69;&#x6c;&#116;&#111;&#58;&#x6d;&#x61;&#x74;&#x74;&#x40;&#x6d;&#97;&#116;&#116;&#114;&#x6f;&#115;&#x73;&#x2e;&#105;&#x6f;" title="email">
							<span class="label"><i class="fa fa-envelope"></i></span>
						</a>
					</li>
					<li class="contact">
						<a href="&#x74;&#101;&#x6c;&#58;&#x38;&#53;&#x36;&#32;&#x32;&#x38;&#51;&#32;&#x33;&#x35;&#54;&#x35;" title="phone">
							<span class="label"><i class="fa fa-phone"></i></span>
						</a>
					</li>
					-->
					<li class="contact">
						<a target="_blank" href="https://www.linkedin.com/in/amsross" title="linkedin" rel="me">
							<span class="label"><i class="fa fa-linkedin"></i></span>
						</a>
					</li>
					<li class="contact">
						<a target="_blank" href="https://github.com/amsross/" title="github" rel="me">
							<span class="label"><i class="fa fa-github-alt"></i></span>
						</a>
					</li>
					<li class="contact">
						<a target="_blank" href="http://twitter.com/amsross" title="twitter" rel="me">
							<span class="label"><i class="fa fa-twitter"></i></span>
						</a>
					</li>
					<li class="contact">
						<a target="_blank" href="http://www.flickr.com/photos/amsross/" title="flickr">
							<span class="label"><i class="fa fa-flickr"></i></span>
						</a>
					</li>
					<li class="contact">
						<a target="_blank" href="https://coderbits.com/amsross/" title="coderbits">
							<span class="label"><i class="fa fa-code"></i></span>
						</a>
					</li>
				</ul>
			</section>
