<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
		<meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=0.75" >
		<meta name="description" content="{{ site.name }} - {% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" >
		<meta name="author" content="Matt Ross" >
		<meta name="keywords" content="matt ross, web developer, web dev, html, css, node, php, wordpress" >
		<meta name="google-site-verification" content="TSkrz1UJLqmiIn7UiPYb8Z-PQWWVh3PhHDgFurBp0p8" />
		<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.min.css" type="text/css" >
		<link rel="shortcut icon" href="/favicon.ico" >
		<link type="text/plain" rel="author" href="{{ site.baseurl }}/humans.txt" />
		<script src="{{ site.baseurl }}/assets/js/vendor.min.js"></script>
		{% if page.custom_css %}
			<style type="text/css">
				{{ page.custom_css }}
			</style>
		{% endif %}
	</head>
	<body class="tk-museo-sans">
		{% include header.html %}
		<div class="container">
			{% include sidebar.html %}
			{{ content }}
		</div>
		{% include footer.html %}
		<script src="{{ site.baseurl }}/assets/js/scripts.min.js"></script>
		{% if page.custom_js %}
			<script type="text/javascript">
				$(document).ready(function() {
					{{ page.custom_js }}
				});
			</script>
		{% endif %}
	</body>
</html>
