---
layout: default
---

			<section class="status">
				<article>
					<header class="tagline">
						<h2><a href="{{ site.baseurl }}{{ page.url }}" class="green">{{ page.title }}</a></h2>
						<small><i class="fa fa-calendar"></i> <time datetime="{{ page.date|date:"%F" }}">{{ page.date|date:"%b %d, %Y" }}</time></small>
					</header>
					<div class="entry">
						{{ content }}
					</div>
					<footer>
						<span class="author">
							<a href="{{ site.baseurl }}/contact">
								<i class="fa fa-pencil"></i>
								{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
							</a>
						</span>
					</footer>
				</article>
				{% if page.next or page.previous %}
					<div class="paginate">
						{% if page.next %}
							<span class="next">
								<a href="{{ page.next.url }}" title="{{ page.next.title }}" alt="{{ page.next.title }}">
									<i class="green fa fa-arrow-circle-left"></i>
									<span class="paginate-title">{{ page.next.title }}</span>
								</a>
							</span>
						{% endif %}
						{% if page.previous %}
							<span class="previous">
								<a href="{{ page.previous.url }}" title="{{ page.previous.title }}" alt="{{ page.previous.title }}">
									<span class="paginate-title">{{ page.previous.title }}</span>
									<i class="green fa fa-arrow-circle-right"></i>
								</a>
							</span>
						{% endif %}
					</div>
				{% endif %}
			</section>
